html{
    scroll-behavior: smooth;
}
.jumbotron{
    background: url("https://i.pinimg.com/originals/a3/74/9b/a3749b7fc83fa9de96a779f0f255c483.gif") center center / cover;
    height: 100vh;
    
}
.mycard{
   
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.inner{
    overflow:hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform:scale(1.5);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}
.Heading{
  font-size: 100px;
  
}
.subheading{
  font-size: 50px;
  
}
.position{
    position: absolute;
}
.navbar{
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}
/* #timeline{
    text-align:center;
    margin-left:37.35% ;

    width:25%;
} */
.about{
    /*  background: whitesmoke; */
    padding: 1%;
    font-size: x-large;
}
body{
    /* background:url("../images/josh.jpg"); */
    /* background-repeat: repeat; */
    background-color: black;
    overflow-x: hidden;
}
p{
    color: white;
}
span{
  color:white;
}
.sponsors{
    /* in case of */
    /*background: url("https://images.squarespace-cdn.com/content/v1/58d41446d482e9f59604aaff/1552041807449-20EDIXIC7F7GHJ8Z522K/ke17ZwdGBToddI8pDm48kKmE07NpCqzu6lrgRSgsOkdZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIITKXaVtuPrVZXHY-KcjdUC7owNGIGYmeFdYo3MPBtz0/coming-soon5.png?format=1500w")center center / cover;*/
    /* background-color: white; */
  }

.fixed-top {
    min-height: 60px;
    min-width: text;
}
/* @media (max-width: 767px) {

} */
.black{
    color: black;
}
.center{
    text-align: center;
    font-size: 150%;
}
.map
{
    /* position:absolute; */
    top:64px;
    bottom: 64px;
    width:1100px;
    height:400px;
    overflow:hidden;
    border:1px solid rgb(211,211,211);
    border-radius:3px;
}
/* ----------------------------TIMELINE------------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;

  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  

.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}
.sponsors-white-bg{
    background:white;
    padding: 5px;
}
.timeline ul {
/*   background: #456990; */
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  /* background: #F45B69; */
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #feffff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #697179;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    /* border-color: transparent #F45B69 transparent transparent; */
  }
  .Heading{
      font-size: 3rem;
  }
}

@media screen and (max-width: 400px) and (min-width: 300px) {

    body{
        width: 100%;
        overflow-x: hidden;
    }

    .Heading{
      font-size: 2rem;
    }
}



